:root {
  --rojo: #fb2c36;
  --azul: #2b7fff;
  --naranja: #ff6900;
  --amarillo: #f0b100;
  --verde: #00c951;
  --morado: #ad46ff;
  --negro: #000000;
  --gris: #ADB5BD;
  --blanco: #ffffff;
  --lima: #7CCF00;
  --esmeralda: #00BC7D;
  --te: #00BBA7;
  --cyan: #0092B8;
  --indigo: #615FFF;
  --violeta: #7F22FE;
  --fuchsia: #C800DE;
  --pink: #C800DE;
  --slate: #1D293D;

  --gris-oscuro: #495057;
  --gris-claro: #E9ECEF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAEC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit; 
}

.navbar {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--slate); 
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 50px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.navbar-title{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navbar-link {
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; 
  background-color: var(--blanco); 
  border-radius: 4px; 
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--slate);
  font-size: 16px; 
}

.navbar-link:hover {
  background-color: var(--gris-claro);
}

.main-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.card{
  padding: 10px;
  width: 90%;
  background-color: var(--blanco);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;  
}
.card-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 25PX;
}

.card-data-items{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* grafica */
.doughnut-chart {
  position: relative;
  width: 100px;
  height: 100px;
}

.doughnut-chart .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #7CCF00 0% 70%,   /* Color del segmento (70% completo) */
    #E9ECEF 70% 100% /* Color de fondo restante */
  );
}

.doughnut-chart .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lima);
  font-size: 18px;
  font-weight: bold;
}

/* Estilo para el botón con clase 'boton-card' */
.boton-card {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--lima); /* Color principal del botón */
  text-decoration: none;
  text-align: center;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 100%;
}

.boton-card:hover {
  background-color: #45a049; /* Color al pasar el mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.boton-card:active {
  background-color: #3e8e41; /* Color al hacer clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px); /* Efecto de pulsación */
}


@media (min-width: 1024px) {
  .main-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
  }

  .card{
    width: 300px;
    padding: 10px;
    background-color: var(--blanco);
  }

  .card-buton{
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--lima);
  }

}
