:root {
  --rojo: #fb2c36;
  --azul: #2b7fff;
  --naranja: #ff6900;
  --amarillo: #f0b100;
  --verde: #00c951;
  --morado: #ad46ff;
  --negro: #000000;
  --gris: #ADB5BD;
  --blanco: #ffffff;
  --lima: #7CCF00;
  --esmeralda: #00BC7D;
  --te: #00BBA7;
  --cyan: #0092B8;
  --indigo: #615FFF;
  --violeta: #7F22FE;
  --fuchsia: #C800DE;
  --pink: #C800DE;

  --gris-oscuro: #495057;
  --gris-claro: #E9ECEF;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #EAEAEC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button {  
  font-size: 14px;
  font-weight: 400;
  color: var(--blanco);
  background-color: var(--verde);
  border: 2px solid var(--verde);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.card {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 25px;
  width: 300px;
  text-align: center;
}

.card__ico {
  color: var(--gris-oscuro);
  margin-bottom: 8px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: var(--gris-oscuro);
  margin-bottom: 20px;
}

.percentage {
  font-size: 36px;
  color: var(--verde);
  font-weight: bold;
  margin: 0;
}

.container-data{
  font-size: smaller;
  color: var(--gris);
  width:100%;
  padding: 10px;
}

.container-data p{
  margin: 0;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.progress-bar {
  position: relative;
  flex-grow: 1;
  height: 8px;
  background: var(--gris-claro);
  border-radius: 10px;
  margin: 0 8px;
  overflow: hidden;
}

.progress {
  width: 81%;
  height: 100%;
  background: var(--verde);
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 8px;
}

.percentage-change {
  font-size: 14px;
  font-weight: bold;
}

.percentage-change.positive {
  color: #00b359;
}

.percentage-change.negative {
  color: #ff3b3b;
}
